footer {
    background: #8a2b06;
    padding: 0.1rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
}
li{
    list-style: none;
}

footer a{
    color: white;
    text-decoration: none;
}

.footer_logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: inline-block;

}

.permalink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2rem ;
}

.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.footer_socials a {
    background: #252b27;
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer_socials a:hover{
    background: #4d1601;
    color: white;
    border-color: #4d1601;
}

.footer_copywrite{
    margin-bottom: 3rem;
    color: white;
}



@media screen and (max-width : 600px) {
    .permalink{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer_socials{
        margin-bottom: 2.6rem;
    }

}