





















/* .signup_img-btn{
  margin-right: 15rem;
  margin-bottom: 1rem;
}

.signup_container {
  background: rgb(245, 245, 245);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.signup_back {
  background: rgb(255, 255, 255);
  margin-top: 6%;
  padding: 0 7rem;
}

.signup_back .signup_header {
  text-align: center;
  font-size: 20px;
  margin: 3rem 0;
  font-weight: 500;
}
.signup_h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  margin-right: 10rem;
  margin-bottom: 1rem;
  color: rgb(36, 22, 22);
}

form {
  padding: 0rem 6rem;
}

form input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  height: 48px;
  margin: 0.8rem 0;
  outline: none;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  padding-left: 1rem;
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #c4c4c4;
}

label {
  color: #21334f;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

form .signup_btn {
  width: 320px;
  height: 50px;
  font-size: 18px;
  background: linear-gradient(92.1deg, #de3d6d 55.67%, #f5844c 101.51%);
  outline: none;
  border: none;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.signup_anchor {
  color: #de3d6d;
}

.signup_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4.3rem;
}

.signup_forgot {
  font-size: 12px;
  color: #4285f4;
}

@media only screen and (max-width: 600px) {

  .signup_h2 {
    margin-left: 3.5rem;
    width: max-content;
    font-size: 14px;

  }

  .signup_back {
    background: white;
  }

  form input {
    width: 220px;
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  form .signup_btn {
    width: 225px;
  }

  .signup_img-btn{
    margin-left: 5.5rem;
  }
} */
